@using MvcAssets
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @{
        Html.Assets()
            .CssLink("~/Content/Site.css");
            
        Html.Assets().Section("footer")
            .JsLink("~/Scripts/jquery-1.6.4.min.js");
     }

     @Html.Assets().Render()
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
            <div id="logindisplay">
                &nbsp;
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
@Html.Assets().Section("footer").Render()
</html>
